body{
    background: #212534;
}


main{
    display: flex;
    justify-content: center;
    padding: 6em 0 0;
}

.calculadoraCorpo{
    background: #191c29;
    border: 2px solid rgb(0, 0, 0);
    height: auto;
    width: 25%;
    border-radius: 5%;

}

.calculadoraCorpo__main{
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.calculadoraCorpo__main__tela{
    width: 95%;
    background: #ffffff;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    top: 10px; 
    box-shadow: inset 0px 0px 7px 8px #74757480;
    font-family: 'Lexend', sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    padding: 0 1em 1em;
}


.calculadoraCorpo__main__resultadoAtual{
    font-size: 50px;
}

.calculadoraCorpo__main__botoes{
    padding: 2em 2em 0 ;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, 16.66%);
    grid-gap: .9rem .2rem;
    justify-content: center;
}





.calculadoraCorpo_botoes{
    border-radius: 50%;
    height: 5em;
    width: 5em;
    font-size: 15px;
    font-weight: bolder;
 
}

.calculadoraCorpo_botoes:hover{
    background-color: #828181;
}
